<%- include('header', {sessionSet: sessionSet}) -%>
    <div class="container mt-3">
      <div class="alert alert-success <%= alertStatus %>" id="alert">Please check your email inbox.</div>
      <% if(alertStatus == ""){ %>
        <script> 
          setInterval(function(){ 
            document.location.href = "http://localhost:8080/"; 
          }, 2000);
        </script>
      <% } %>
      <div class="row mt-5">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <div class="card">
            <div class="card-header text-center">
              <h1>Enter Your Email</h1>
            </div>
            <div class="card-body">
              <form action="/forgot-password" method="POST">
                <div class="row mt-2">
                  <label for="email">Email Address</label>
                  <input
                    class="form-control"
                    type="text"
                    name="email"
                    id="email"
                    placeholder="Email Address"
                  />
                </div>
                <div class="row mt-2">
                    <input
                      class="btn btn-success form-control"
                      type="submit"
                      name="submit"
                      id="submit"
                      value="SEND"
                    />
                  </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
    <%- include('footer') -%>