<%- include('header', {sessionSet: sessionSet}) -%>
    <div class="container mt-3">
     
      <div class="row mt-5">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <div class="card">
            <div class="card-header text-center">
              <h1>Reset Password</h1>
            </div>
            <div class="card-body">
               <div class="alert alert-warning <%= alertStatus %>" id="alert">Passwords don't match!</div>
              <form action="/reset-password" method="POST">
                <input type="hidden" name="email" value="<%= email %>">
                <div class="row mt-2">
                  <label for="email">Password</label>
                  <input
                    class="form-control"
                    type="password"
                    name="password"
                    id="password"
                    placeholder="Enter Password"
                  />
                </div>
                <div class="row mt-2">
                  <label for="email">Confirm Password</label>
                  <input
                    class="form-control"
                    type="password"
                    name="password2"
                    id="password2"
                    placeholder="Confirm Password"
                  />
                </div>
                <div class="row mt-2">
                    <input
                      class="btn btn-success form-control"
                      type="submit"
                      name="submit"
                      id="submit"
                      value="SEND"
                    />
                  </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
<%- include('footer') -%>
